html,body{
    margin: 0;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .butt {
    border-radius: 50%;
    /* width: 10%; */
    /* background-color: white; */
    flex: 0 1 30%;
    padding-top: 15%;
    padding-bottom: 15%;
    border: none;
    font-size: 1em;
    color: white;
    box-shadow: 10px 10px gray;
  }